body {
    background-color: #fffff0;
    color: #374872;
    font-size: 14px;
}

nav {
    color: #374872;
    background-color: #e3dfdf;
    font-size: 18px;
}

.brand {
    font-size: 26px;
    font-weight: bold;
}

.table-title {
    padding: 15px 0px 15px 15px;
    margin-bottom: 10px;
    background-color: #fffff0;
    color: #374872;
}

.table-title .btn-group {
    margin: 5px 15px 5px 5px;
    float: right;
}